[Desktop Entry]
Name=GitHub Desktop
GenericName=Git Client
Comment=Simple collaboration from your desktop
Exec=github-desktop %U
Icon=github-desktop
Type=Application
Categories=Development;IDE;RevisionControl;
Keywords=git;github;version control;development;repository;
MimeType=x-scheme-handler/x-github-client;x-scheme-handler/x-github-desktop-auth;x-scheme-handler/x-github-desktop-dev-auth;
StartupNotify=true
StartupWMClass=github-desktop
Terminal=false
X-GNOME-SingleWindow=true
NoDisplay=false
Actions=new-repo;clone-repo;

[Desktop Action new-repo]
Name=Create New Repository
Exec=github-desktop --new-repo

[Desktop Action clone-repo]
Name=Clone Repository
Exec=github-desktop --clone-repo
