out/
dist/
node_modules/
coverage/
npm-debug.log
yarn-error.log
app/node_modules/
vendor/windows-argv-parser/build/
vendor/desktop-notifications/build/
vendor/desktop-trampoline/build/
.DS_Store
.awcache
.idea/
.vs/
.vscode/*.log
.eslintcache
*.iml
.envrc
junit*.xml
*.swp
tslint-rules/
script/release_notes.txt

snap/local/
snap/parts/
snap/prime/
snap/stage/
snap/*.snap
snap/*.debug
snap/temp/
snap/*.deb
*.snap
*.deb
